includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src/
        - tests/
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
