includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src/
        - tests/
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
