#includes:
#	- phpstan-baseline.neon

parameters:
	level: 8
	paths:
		- src/
		- tests/
	inferPrivatePropertyTypeFromConstructor: true
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		- identifier: missingType.iterableValue
